.main-content {
	margin: 0 .5em;
}

nav ul, footer ul {
	padding: 0px;
	list-style: none;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

.header {
	background-color: #16d8a9;
	height: 150px;
}

h1 {
	text-align: center;
	color: #fff;
}

.personal-id {
	height: 100%;
}

a {
	color: #4816d8;
}

a.hover {
	text-decoration: underline;
}

ul.list-group li a {
	color: #4816d8;
}

ul.posts {
	margin: 20px auto 40ps;
	font-size: 1.5em;
}

ul.post li {
	list-style: none;
}

li.list-group-item {

}

.stack-layout {

}
