.main-content {
	margin: 0 .5em;
}

.header {
	background-image: url("/images/IMG_1638.jpeg");
}

h1 {
	text-align: center;
	color: #fff;
	background-color: #16d8a9;
	margin: 20px 0;
}

a {
	color: #4816d8;
} 

ul.list-group li a {
	color: #4816d8;
}

li.list-group-item {

}

.stack-layout {

}