.main-content {
	margin: 0 .5em;
}

.header {
	background-color: #16d8a9;
	height: 150px;
}

h1 {
	text-align: center;
	color: #fff;
}

.personal-id {
	height: 100%;
}

a {
	color: #4816d8;
} 

ul.list-group li a {
	color: #4816d8;
}

li.list-group-item {

}

.stack-layout {

}